@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
    height: 100%;
    background-color: #101124;
}

@layer base {
    input[type='number'] {
        -moz-appearance:textfield;
        appearance: textfield;
    }    
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
}